.list-container {
  display: flex;
  flex-direction: column;
	max-width: 1000px;
  min-width: 300px;
  margin: 10px auto;
}

@media (max-width: 575px) {
  .list-container {
    margin: auto;
    width: 100%;
  }
}