.room-container {
  display: flex;
  flex: flex-shrink;
  flex-flow: row wrap;
  align-content: center;
  border: 1px solid lightGrey;
  border-radius: 3px;
  margin-bottom: 1.5em;
  height: auto;
  margin: 15px auto;
  text-align: left;
  padding: 10px;
  opacity:.8;
  box-shadow: 0 4px 2px rgba(0,0,0,0.175);
  background-color: white;
}

.room-info {
  display: flex;
  flex-flow: column wrap;
  width: 120px;
  margin-left: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.times-display {
  display: flex;
  flex: flex-shrink;
  align-self: center;
  width: auto;
  max-width: 75%;
  margin: auto;
}

.room-name {
  margin: 0;
  margin-bottom: 10px;
}

.room-location {
  margin: 0;
  margin-bottom: 10px;
}

.room-capacity {
  margin: 0;
  margin-bottom: 10px;
}

.expand-icon {
  display: flex;
  flex-flow: column nowrap;
  font-size: 24px;
  align-self: center;
}

.default-view {
  display: flex;
  flex: flex-shrink;
  flex-flow: row wrap;
  align-content: center;
}

.room-details {
  display: flex;
  margin-left: 50px;
  /*flex-direction: column-reverse;*/
  height: auto;
}

.booking-form {
  display: flex;
  margin: auto;
}

@media (max-width: 770px) {
  .room-container {
    flex-flow: row wrap;
    margin: 10px;
  }
  .times-display {
    order: 1;
    width: 100%;
    margin: 5px auto 30px auto;
    justify-content: center;
    font-size: 15px;
  }
  .room-info {
    margin: auto;
    margin-top: 10px;
    flex-flow: row wrap;
    width: 70%;
    justify-content: space-around;
    align-self: center;
  }
  .room-name {
    order: 1;
    margin: 0;
    margin-bottom: 5px;
    font-size: 20px;
  }
  .room-location {
    margin: 0;
    margin-bottom: 5px;
  }
  .room-capacity {
    order: 1;
    margin: 0;
    margin-bottom: 5px;
  }
  .expand-icon {
    order: 1;
    flex-flow: row nowrap;
    align-content: flex-end;
    padding-right: 10px;
    margin-top: 5px;
    cursor: pointer;
  }
}

@media (max-width: 600px) {
  .default-view {
    margin: auto;
    flex-flow: column wrap;
    align-self: flex-start;
  }
  .times-display {
    -moz-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
       -webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
       transform:  translateX(-50%) translateY(-50%) rotate(-90deg);
       justify-content: flex-start;
      margin: auto;
  }
  .room-info {
    width: 120px;
    margin: auto;
 }
  .room-name {
    order: 0;
  }
  .room-capacity {
    order: 0;
  }
  .room-container {
    margin: 10px;
    height: 600px;
    flex-flow: column wrap;
    justify-content: flex-end;
  }
  .expand-icon {
    display: none;
  }
  .room-details {
    display: none;
  }
}