.room-container {
	flex: 1 1 100%; /*lets your flex item shrink/grow depending on screen size*/
  display: block;
  align-content: center;
	position: relative;
  transition: background-color 0.3s ease;
  border: 1px solid grey;
  border-radius: 3px;
  margin-bottom: 1.5em;
  height: auto;
  margin: 15px;
  text-align: left;
  padding: 10px;
  opacity:.8;
  box-shadow: 0 4px 2px rgba(0,0,0,0.175);
}

@media (max-width: 632px) {

   /*h2 { font-size: 2em; }*/

}