body {
  margin: auto;
  padding: auto;
  font-family: 'sofiapro-light';
  background-color: rgba(0,0,0,0.04);
  padding-bottom: 100px;
  -webkit-tap-highlight-color: rgba(192, 192, 192, 0.8);
}

@font-face {
    font-family: 'sofiapro-light';
    src: local('sofiapro-light'), url('./fonts/sofiapro-light-webfont.woff2') format('woff2'),
         local('sofiapro-light'), url('./fonts/sofiapro-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@media (max-width: 575px) {
  width: 100%;
}